%ul.nav.navbar-nav.navbar-right
  %li= link_to "root", root_path
  %li= link_to t("views.menu.countries"), countries_path
  %li= link_to t("views.menu.services"), services_path
  %li= link_to t("views.menu.cities"), cities_path
  %li= link_to t("views.menu.reservations"), reservations_path
