= simple_form_for @place do |f|
  = f.input :name
  = f.input :address
  = f.input :area
  = f.input :opening_hours
  = f.input :status, collection: Place.statuses_for_select
  = f.association :city

  = f.submit
