= link_to t("views.places.controls.new"), new_place_path, class: "btn btn-default"
%table.table.table-striped
  %thead
    %tr
      %td= Place.human_attribute_name(:name)
      %td= Place.human_attribute_name(:address)
      %td= Place.human_attribute_name(:area)
      %td= Place.human_attribute_name(:opening_hours)
      %td= Place.human_attribute_name(:time_zone)
  %tbody
    - @places.each do |place|
      %tr
        %td= link_to place.name, edit_place_path(place)
        %td= place.address
        %td= place.area
        %td= place.opening_hours
        %td= place.time_zone
        %td= link_to t("views.places.controls.destroy"), place, method: :delete
